@import '../../../../base.scss';

.span {
  color: #FF3030;
  align-self: center;
  margin-right: px2rem(4px);
}

.card {
  border-top: px2rem(1px) solid #f1f1f1;
  padding: 0 px2rem(24px) px2rem(40px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px2rem(40px) 0 px2rem(24px);
  font-size: px2rem(28px);
  color: #6a6a6a;
  .remove {
    svg {
      width: px2rem(40px);
      height: px2rem(40px);
    }
  }
}

.tip {
  color: #FF3030;
  opacity: 1;
  font-size: px2rem(24px);
  margin-top: 10px;
  font-weight: normal;
  span {
    @extend .span;
  }
}
.remark {
  margin-top: px2rem(24px);
  display: flex;
  align-items: center;
  font-size: px2rem(26px);
  font-weight: normal;
  .title {
    align-self: self-start;
    flex-shrink: 0;
    span {
      @extend .span;
    }
  }
  textarea {
    font-size: px2rem(26px);
    border-bottom: 1px solid #eeeeee;
  }
}