@import '../../../../base.scss';

.filter {
    padding: 0 px2rem(28px);
    .block {
        margin-bottom: px2rem(20px);
    }
    .title {
        font-weight: bold;
        padding: px2rem(8px) 0;
    }
    .tag {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        >div {
            width: 25%;
            text-align: center;
            &:active {
                background-color: transparent;
            }
            div {
                margin: px2rem(4px);
                background-color: #eeeeee;
                border-radius: px2rem(8px);
                padding: px2rem(8px) px2rem(4px);
                font-size: px2rem(28px);
                color: #444444;
                border: 1px solid #eeeeee;
            }
        }
    }
    .checked {
        background-color: #1E8AFF!important;
        border: 1px solid #1E8AFF!important;
        color: #ffffff!important;
    }
}