.adm-list-item-content-main {
  max-width: 100%!important;
}

.adm-list {
  background-color: transparent;
}

.adm-list-default {
  border: 0!important;
}

#simulator-popup {
  // left: 0px;
  // right: 0px;
  // z-index: 1000;

  // ::-webkit-scrollbar {
  //   display: none;
  // }

  // .adm-popup {
  //   position: absolute;
  // }

  // .adm-mask {
  //   position: absolute;
  // }

  // .adm-popup-body {
  //   position: relative;
  //   height: 680px;
  //   top: 120px;
  // }
}